# Your Discord Bot Token (Get it from Discord Developer Portal -> Bot -> Reset Token)
DISCORD_TOKEN=YOUR_DISCORD_TOKEN_HERE

# Comma-separated list of invite codes belonging to your own server (to prevent them from being deleted)
ALLOWED_INVITE_CODES=

# Channel where users post clips
CLIPS_CHANNEL_ID=YOUR_CLIPS_CHANNEL_ID_HERE

# Channel where the bot posts the Clip of the Day
CLIP_OF_THE_DAY_CHANNEL_ID=YOUR_CLIP_OF_THE_DAY_CHANNEL_ID_HERE

# Channel where users post memes
MEMES_CHANNEL_ID=YOUR_MEMES_CHANNEL_ID_HERE

# Channel where the bot posts the Meme of the Day
MEME_OF_THE_DAY_CHANNEL_ID=YOUR_MEME_OF_THE_DAY_CHANNEL_ID_HERE
